<h1>Connect</h1>
<p>Find me in app/views/connect/index.html.erb</p>

<h2>HackerNews Top Article</h2>
<pre class="pre-scrollable">
<%= @json %>
</pre>

<h2>Pocket</h2>
<pre class="pre-scrollable">
<%= @oauth_response %>
</pre>